:root {
  --header-height: 150px;
}

.App {
  max-width: 400px;
  margin: auto;
}

.App-logo {
  height: var(--header-height);
}

.App-header {
  background-color: white;
  height: var(--header-height);
  text-align: center;
}

.Map-container {
  height: 600px;
  width: 100%;
}